@model GSM.Models.Order
@{
    ViewData["Title"] = "Compra Finalizada";
}
<br />
<h2 class="text-info">Compra Finalizada</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentTransactionId)
        </dt>
        <dd style="color:red;">
            @Html.DisplayFor(model => model.PaymentTransactionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
   
    </dl>
</div>

<a asp-controller="Contract" asp-action="Index" asp-area="Customer" class="btn btn-outline-dark">Ver mis Contratos</a>
<a asp-controller="Home" asp-action="Index" asp-area="Customer" class="btn btn-outline-info">Volver al Inicio</a>




